body{
    color: rgb(252, 52, 17);
}
header{
    height: 250px;
    outline: 1px solid red;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpeasandcrayons.com%2F2012%2F10%2Fhomemade-sushi-tips-tricks-and-toppings.html&psig=AOvVaw3bi3AXVP-PaMEqPn-H1ELY&ust=1667891847868000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCLjHlL3Dm_sCFQAAAAAdAAAAABAD);
    background-size: cover;
    background-position: center center;
}
header h1{
    margin: 0;
    padding-left: 50px;
    padding-top: 20px;
}
header h2{
    margin: 0;
    padding-left: 50px;
    padding-top: 20px;
}